# --- Ignorar imágenes y rasters pesados ---

# GeoTIFF / TIFF (cubre también productos CHL como *_chl.tif)
*.tif
*.tiff
*.geotiff
*.TIF
*.TIFF
*.GEOTIFF
*_chl.tif
*_CHL.tif
*_chl.TIF
*_CHL.TIF


*.rar
# Basura de sistema
.DS_Store
Thumbs.db

# (opcional) checkpoints de Jupyter
.ipynb_checkpoints/
